
@{
    ViewBag.Title = "about";
}


<!-- main-area -->
<main>
    <div class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="international-services position-relative pb-120 fix">
        <div class="container">
            <div class="services-wrapper">
                <div class="row align-items-center">
                    <div class="col-lg-5 order-0 order-lg-2">
                        <div class="int-services-img text-center text-lg-right"> <img src="~/Content/img/inner-banner/about-1.jpg" alt="img"> </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="int-services-content">
                            <h2 class="abou">About Sunshine Enterprises</h2>
                            <h4>On time Deliver with Sunshine Enterprises</h4>
                            <p style="text-align: justify;">With Sunshine Enterprises you do not have to worry about any late deliveries. We make sure that we deliver on time and it doesn’t matter where you are, our courier partners will reach out your door at the earliest. Visit our website for more information.</p>
                            <h4>
                                Quality Assistance
                                Express
                            </h4>
                            <p style="text-align: justify;">With Sunshine Enterprises you will get the most quality services along with the best assistance. We are proud to call ourselves a group of completely committed, dedicated and diverse people with a force to become a number one courier service company in India. With a goal to make India’s courier needs fulfilled.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay-title paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground" data-paroller-direction="horizontal" style="transform: translateX(0px); transition: transform 0s linear 0s; will-change: transform;">Cargo</div>
    </section>
    <section class="control-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2 style="color: #fff;">our services</h2>
                        <p style="color: #fff;"> Sunshine Enterprises you will get the most quality services along with the best assistance. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid control-fluid">
            <div class="row control-active">
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/1.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="air-cargo-agents.html">
                                    Air Cargo <br>
                                    Agents
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/2.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="medicine-delivery.html">
                                    Medicine<br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/3.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="commercial-shipment.html">
                                    Commercial <br>
                                    Shipment
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/4.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4><a href="document-and-parcel.html">Document and Parcel </a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/5.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="food-items-delivery.html">
                                    Food Items <br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

