
@{
    ViewBag.Title = "contact";
}


<main>
    <div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Contact us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="support-area support-bg pt-110 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2>Contact us</h2>
                        <p>Visit our Office for more information.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-area primary-bg pt-70 pb-15">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-contact-box mb-50">
                        <div class="contact-icon mb-30"> <img src="~/Content/img/icon/contact-2.png" alt="img"> </div>
                        <div class="contact-content">
                            <h5>Head Office (Ghaziabad)</h5>
                            <span>
                                342,Chaudhary market basnt road maliwara ghaziabad 201001<br>
                                <a href="tel:9310431970" style="color: #000;">Mob. 9310431970</a>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-contact-box mb-50">
                        <div class="contact-icon mb-30"> <img src="~/Content/img/icon/contact-2.png" alt="img"> </div>
                        <div class="contact-content">
                            <h5>Branch Office (Noida)</h5>
                            <span>
                                C-54 gulmohar commercial complex,<br> Sector -15 noida 201301
                                <br>
                                <a href="tel:9310498105" style="color: #000;">Mob. 9310498105</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-contact-box mb-50">
                        <div class="contact-icon mb-30"> <img src="~/Content/img/icon/contact-2.png" alt="img"> </div>
                        <div class="contact-content">
                            <h5>Branch Office (Mahipalpur)</h5>
                            <span>
                                L-120 street 58 mahipalpur,<br> New delhi 110037
                                <br>
                                <a href="tel:9910298662" style="color: #000;">Mob. 9910298662</a>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
    </section>
</main>

