
@{
    ViewBag.Title = "courier_services";
}


<!-- main-area -->
<main>
    <div class="breadcrumb-area breadcrumb-bg" style="background-image:url(img/inner-banner/11.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Courier Services</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Courier Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-details-area pt-120 pb-115">
        <div class="container">
            <div class="services-details-wrap">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-0">
                        <div class="services-details-img"> <img src="~/Content/img/services/css.jpg" alt=""> </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-details-content">
                            <h4>Courier Services in Delhi NCR</h4>
                            <p style="text-align: justify;">A courier service allows people to send parcel or document from one location to another. This service is well known for their speed, security, tracking and specialization. </p>
                            <p style="text-align: justify;">a variety of courier services are available. We guarantee you fast and timely delivery and that too at reasonable price.</p>
                            <p style="text-align: justify;">
                                This is introduced to provide a faster and more secure alternative to the usual mail service. We are one of the best courier services in delhi NCR.
                                As expected from a trusted international courier services provider, our services match the international courier delivery standards which include timely pickup, safe packaging, and timely delivery of the courier in India and overseas.
                            </p>
                            <p style="text-align: justify;"> Depending on the needs of our customers, we offer different types of courier services as per their budget. We always believe in providing value for money courier services to the customers because we understand we not just deliver the parcels but deliver happiness to your loved ones.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="control-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2 style="color: #fff;">our services</h2>
                        <p style="color: #fff;"> Sunshine Enterprises you will get the most quality services along with the best assistance. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid control-fluid">
            <div class="row control-active">
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/1.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="air-cargo-agents.html">
                                    Air Cargo <br>
                                    Agents
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/2.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="medicine-delivery.html">
                                    Medicine<br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/3.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="commercial-shipment.html">
                                    Commercial <br>
                                    Shipment
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/4.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4><a href="document-and-parcel.html">Document and Parcel </a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/5.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="food-items-delivery.html">
                                    Food Items <br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

