
@{
    ViewBag.Title = "document_and_parcel";
}


<main>
    <div class="breadcrumb-area breadcrumb-bg" style="background-image:url(img/inner-banner/4.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Document and Parcel</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Document and Parcel</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-details-area pt-120 pb-115">
        <div class="container">
            <div class="services-details-wrap">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-0">
                        <div class="services-details-img"> <img src="~/Content/img/services/air.jpg" alt=""> </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-details-content">
                            <h4>Document and Parcel in Delhi NCR</h4>
                            <p style="text-align: justify;">The best part of Sunshine Enterprises document and parcel service is that we help you plan your own shipment strategy with us. Our rates are highly economical compared to other courier services and therefore, you do not have to worry about paying too much money on shipping your valuable items.</p>
                            <h4>Features</h4>
                            <p>With our document and parcel service in Delhi NCR, you get the following features –</p>
                            <div class="services-details-list">
                                <ul>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i>Real time tracking so that one can track the package every minute</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i>Cost effective option for everyone</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i>Good packaging so that your documents and parcels are properly protected</li>
                                    <li><i class="fas fa-arrow-alt-circle-right"></i>Service offered all over India</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="control-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2 style="color: #fff;">our services</h2>
                        <p style="color: #fff;"> Sunshine Enterprises you will get the most quality services along with the best assistance. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid control-fluid">
            <div class="row control-active">
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/1.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="air-cargo-agents.html">
                                    Air Cargo <br>
                                    Agents
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/2.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="medicine-delivery.html">
                                    Medicine<br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/3.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="commercial-shipment.html">
                                    Commercial <br>
                                    Shipment
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/4.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4><a href="document-and-parcel.html">Document and Parcel </a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/5.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="food-items-delivery.html">
                                    Food Items <br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

