
@{
    ViewBag.Title = "express_import_services";
}


<main>
    <div class="breadcrumb-area breadcrumb-bg" style="background-image:url(img/inner-banner/9.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Express Import Services</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Express Import Services</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-details-area pt-120 pb-115">
        <div class="container">
            <div class="services-details-wrap">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-0">
                        <div class="services-details-img"> <img src="~/Content/img/services/eis.jpg" alt=""> </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-details-content">
                            <h4>Express Import Services in Delhi NCR</h4>
                            <p style="text-align: justify;">Sunshine Enterprises is a specialist in providing express import services in Delhi NCR. The rules and regulations based on export and import can get quite complex. So, it is always wise to work with someone professional like us who can help you with your express import needs the best way.</p>
                            <p style="text-align: justify;">Whether it is a small document or a big parcel that needs to be imported to India, at Sunshine Enterprises, we can get it delivered right at your doorstep with the most minimal amount of documentation. We make express courier service a lot more easy and hassle-free for you by providing free home pickup services.</p>
                            <p style="text-align: justify;">our exclusive service of express courier service in Delhi NCR, now you can bring shipments from all over the globe right at your doorstep at a much affordable rate. We can collect your parcel from more than 150 countries across the globe and deliver to your doorstep within the committed time frame.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="control-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2 style="color: #fff;">our services</h2>
                        <p style="color: #fff;"> Sunshine Enterprises you will get the most quality services along with the best assistance. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid control-fluid">
            <div class="row control-active">
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/1.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="air-cargo-agents.html">
                                    Air Cargo <br>
                                    Agents
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/2.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="medicine-delivery.html">
                                    Medicine<br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/3.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="commercial-shipment.html">
                                    Commercial <br>
                                    Shipment
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/4.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4><a href="document-and-parcel.html">Document and Parcel </a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/5.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="food-items-delivery.html">
                                    Food Items <br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

