
@{
    ViewBag.Title = "gallery";
}


<main>

    <div class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="photo-gallery">
        <div class="container">
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/1.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/1.jpg"></a></div>

                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/2.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/2.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/3.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/3.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/4.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/4.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/5.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/5.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/6.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/6.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/7.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/7.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/8.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/8.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/9.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/9.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/10.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/10.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/11.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/11.jpg"></a></div>


                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="img/gallery/12.jpg" data-lightbox="photos"><img class="img-fluid" src="~/Content/img/gallery/12.jpg"></a></div>
            </div>
        </div>
    </div>
    <section class="control-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2 style="color: #fff;">our services</h2>
                        <p style="color: #fff;"> Sunshine Enterprises you will get the most quality services along with the best assistance. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid control-fluid">
            <div class="row control-active">
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb">
                            <img src="~/Content/img/services/1.jpg" alt="img">
                        </div>
                        <div class="control-overlay-content">
                            <h4><a href="air-cargo-agents.html">Air Cargo <br>Agents</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb">
                            <img src="~/Content/img/services/2.jpg" alt="img">
                        </div>
                        <div class="control-overlay-content">
                            <h4><a href="medicine-delivery.html">Medicine<br> Delivery</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb">
                            <img src="~/Content/img/services/3.jpg" alt="img">
                        </div>
                        <div class="control-overlay-content">
                            <h4><a href="commercial-shipment.html">Commercial <br>Shipment</a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb">
                            <img src="~/Content/img/services/4.jpg" alt="img">
                        </div>
                        <div class="control-overlay-content">
                            <h4><a href="document-and-parcel.html">Document and Parcel </a></h4>

                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb">
                            <img src="~/Content/img/services/5.jpg" alt="img">
                        </div>
                        <div class="control-overlay-content">
                            <h4><a href="food-items-delivery.html">Food Items <br>Delivery</a></h4>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

