
@{
    ViewBag.Title = "household_items";
}


<!-- main-area -->
<main>
    <div class="breadcrumb-area breadcrumb-bg" style="background-image:url(img/inner-banner/8.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Household Items</li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Household Items</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-details-area pt-120 pb-115">
        <div class="container">
            <div class="services-details-wrap">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-0">
                        <div class="services-details-img"> <img src="~/Content/img/services/house.jpg" alt=""> </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-details-content">
                            <h4>Household Items in Delhi NCR</h4>
                            <p style="text-align: justify;">Sunshine Enterprises believes in providing quality services to the customers. And therefore, we ensure that we are helping our customers with the most effective ways that we can. With our service in terms of shipment of Household Items Shipping Services in Delhi NCR, we have helped our customers to deliver household items all over the country.</p>
                            <h4>Get services right at your doorstep</h4>
                            <p style="text-align: justify;">Sunshine Enterprises believes in providing quality services to the customers. And therefore, we ensure that we are helping our customers with the most effective ways that we can. With our service in terms of shipment of Household Items Shipping Services in Delhi NCR, we have helped our customers to deliver household items all over the country.</p>
                            <h4>Affordable and quality services</h4>
                            <p style="text-align: justify;">Sunshine Enterprises you are surely going to get the best and the most quality services. We are a team of dedicated logistic professional and we do exactly what our customers are looking for. We are a leading courier service providing shipment of household items.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="control-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2 style="color: #fff;">our services</h2>
                        <p style="color: #fff;"> Sunshine Enterprises you will get the most quality services along with the best assistance. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid control-fluid">
            <div class="row control-active">
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/1.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="air-cargo-agents.html">
                                    Air Cargo <br>
                                    Agents
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/2.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="medicine-delivery.html">
                                    Medicine<br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/3.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="commercial-shipment.html">
                                    Commercial <br>
                                    Shipment
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/4.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4><a href="document-and-parcel.html">Document and Parcel </a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="single-control-wrap fix">
                        <div class="control-thumb"> <img src="~/Content/img/services/5.jpg" alt="img"> </div>
                        <div class="control-overlay-content">
                            <h4>
                                <a href="food-items-delivery.html">
                                    Food Items <br>
                                    Delivery
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

