
@{
    ViewBag.Title = "Index";
}
<main>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active"> <img src="~/Content/img/slider/slider_img02.jpg" alt="" width="1100" height="500"> </div>
            <div class="carousel-item"> <img src="~/Content/img/slider/slider_bg03.jpg" alt="" width="1100" height="500"> </div>
            <div class="carousel-item"> <img src="~/Content/img/slider/slider_bg06.jpg" alt="" width="1100" height="500"> </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <span class="carousel-control-next-icon"></span> </a>
    </div>
    --
    <section class="category-area">
        <div class="container">
            <div class="category-bg">
                <div class="row">
                    <div class="col-12">
                        <div class="category-list">
                            <ul>
                                <li>
                                    <a href="air-cargo-agents">
                                        <div class="category-icon"> <i class="fa fa-plane-departure"></i> </div>
                                        <h5>Air Cargo Agents</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/medicine-delivery">
                                        <div class="category-icon"> <i class="fa fa-capsules"></i> </div>
                                        <h5>Medicine Delivery</h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="commercial-shipment">
                                        <div class="category-icon"> <i class="fa fa-dumpster-fire"></i> </div>
                                        <h5>Commercial Shipment </h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Home/food-items-delivery">
                                        <div class="category-icon"> <i class="fa fa-cloud-meatball"></i> </div>
                                        <h5>Food Items Delivery </h5>
                                    </a>
                                </li>
                                <li>
                                    <a href="sea-cargo">
                                        <div class="category-icon"> <i class="fa fa-ship"></i> </div>
                                        <h5>SEA Cargo</h5>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="brand">*@
    @*<div class="row">*@
        <div class="col-md-12"> 
        <img style="width:100%;" src="~/Content/img/brand/11.png" alt="img">
        </div>
    @*</div>*@
        @*</div>*@
    </section>
    --
    <section class="about-area about-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="about-active">
                        <div class="single-about-wrap">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="about-img"> <img src="~/Content/img/images/about_img01.jpg" alt="img"> </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-content">
                                        <div class="section-title about-title mb-25">
                                            <h2>Sunshine Enterprises </h2>
                                            <h5> International courier & cargo Servces</h5>
                                        </div>
                                        <p>A reliable courier service is something everyone is looking for nowadays. It is extremely important for us to be able to trust the courier company before taking any step further with them. In the world where everything needs to be delivered and shipped as soon as possible, Sunshine Enterprises  becomes your trusted International Courier Booking Agent in Delhi NCR, that help you with all your courier needs.</p>
                                        <a href="/Home/about" class="btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-about-wrap">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="about-img"> <img src="~/Content/img/images/about_img02.jpg" alt="img"> </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-content">
                                        <div class="section-title about-title mb-25">
                                            <h2>Logistics Cargo Service</h2>
                                        </div>
                                        <p> Sunshine Enterprises you will get the most quality services along with the best assistance. We are proud to call ourselves a group of completely committed, dedicated and diverse people with a force to become a number one courier service company in India. </p>
                                        <a href="/Home/about" class="btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-about-wrap">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="about-img"> <img src="~/Content/img/images/about_img03.jpg" alt="img"> </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="about-content">
                                        <div class="section-title about-title mb-25">
                                            <h2>International Cargo Service</h2>
                                        </div>
                                        <p>With Sunshine Enterprises, you do not have to worry about any late deliveries. We make sure that we deliver on time and it doesn’t matter where you are, our courier partners will reach out your door at the earliest. Visit our website for more information.</p>
                                        <a href="/Home/about" class="btn">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="delivery-services position-relative fix pt-110">
        <div class="overlay-title paroller" data-paroller-factor="0.15" data-paroller-factor-lg="0.15" data-paroller-factor-md="0.15" data-paroller-factor-sm="0.15" data-paroller-type="foreground" data-paroller-direction="horizontal" style="transform: unset; transition: transform 0s linear 0s; will-change: transform;">service</div>
        <div class="delivery-services-bg"></div>
        <div class="container">
            <div class="delivery-services-wrap">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-10">
                        <div class="s-section-title text-center mb-60">
                            <h2 style="color: #fff;">Our Services</h2>
                            <p style="color: #fff;">A reliable courier service is something everyone is looking for nowadays. It is extremely important for us to be able to trust the courier company before taking any step further with them. </p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-delivery-services mb-70 pr-75">
                            <div class="ds-icon order-0 order-md-2"> <a href="air-cargo-agents"><img src="~/Content/img/icon/ds_icon01.png" alt="icon"></a> </div>
                            <div class="ds-content text-center text-sm-left text-md-right">
                                <h5><a href="/Home/air-cargo-agents"> Air Cargo Agents</a></h5>
                                <p> Sunshine Enterprises Offers exceptional Air Courier in Delhi NCR. With us, you will get the best possible.</p>
                            </div>
                        </div>
                        <div class="single-delivery-services mb-70 pr-75">
                            <div class="ds-icon order-0 order-md-2"> <a href="/Home/medicine-delivery"><img src="~/Content/img/icon/ds_icon02.png" alt="icon"> </a></div>
                            <div class="ds-content text-center text-sm-left text-md-right">
                                <h5><a href="/Home/medicine-delivery"> Medicine Delivery</a></h5>
                                <p>Sunshine Enterprises is one among the most trusted medicine delivery services provider in Delhi NCR.</p>
                            </div>
                        </div>
                        <div class="single-delivery-services mb-70 pr-75">
                            <div class="ds-icon order-0 order-md-2"> <a href="/Home/commercial-shipment"><img src="~/Content/img/icon/ds_icon03.png" alt="icon"></a> </div>
                            <div class="ds-content text-center text-sm-left text-md-right">
                                <h5><a href="/Home/commercial-shipment"> Commercial Shipment</a> </h5>
                                <p>Commercial shipment needs can rise any moment. And if you are a small business.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 d-none d-xl-block">
                        <div class="d-services-img"> <a href="#"><img src="~/Content/img/images/delivery_services_img.jpg" alt="img"></a> </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="single-delivery-services mb-70 pl-75">
                            <div class="ds-icon"> <a href="document-and-parcel"><img src="~/Content/img/icon/ds_icon04.png" alt="icon"></a> </div>
                            <div class="ds-content">
                                <h5><a href="/Home/document-and-parcel"> Document and Parcel</a> </h5>
                                <p>Sunshine Enterprises gladly takes care of all your important documents and parcel shipment</p>
                            </div>
                        </div>
                        <div class="single-delivery-services mb-70 pl-75">
                            <div class="ds-icon"> <a href="/Home/food-items-delivery"><img src="~/Content/img/icon/ds_icon05.png" alt="icon"> </a></div>
                            <div class="ds-content">
                                <h5><a href="/Home/food-items-delivery"> Food Items Delivery</a></h5>
                                <p>At Sunshine Enterprises, we offer you an amazing Courier service for food items.</p>
                            </div>
                        </div>
                        <div class="single-delivery-services mb-70 pl-75">
                            <div class="ds-icon"> <a href="sea-cargo"><img src="~/Content/img/icon/ds_icon06.png" alt="icon"> </a></div>
                            <div class="ds-content">
                                <h5><a href="/Home/sea-cargo"> SEA Cargo </a></h5>
                                <p>When it comes to services like Sea cargo, a logistic company has to be packed with experience</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="services-area delivery-bg pt-110 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2>Why Choosing Sunshine Enterprises </h2>
                        <p>Sunshine Enterprises assures excellent and outstanding quality services to its clients.</p>
                    </div>
                </div>
            </div>
            <div class="services-wrapper">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-services mb-30">
                            <div class="services-thumb"> <img src="~/Content/img/images/services_img01.jpg" alt="img"> </div>
                            <div class="services-content">
                                <div class="services-icon"> <img src="~/Content/img/icon/1.png" alt="icon"> </div>
                                <h3>Quality Assurance</h3>
                                <p style="text-align: justify;">Sunshine Enterprises assures excellent and outstanding quality services to its clients. We bet that the quality offered by us is peerless. Here, you’ll get the incredible quality courier service with the best assistance. We are the leading courier service providers in the country and are well known for our reliability and quality.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-services mb-30">
                            <div class="services-thumb"><img src="~/Content/img/images/services_img02.jpg" alt="img"> </div>
                            <div class="services-content">
                                <div class="services-icon"> <img src="~/Content/img/icon/2.png" alt="icon"> </div>
                                <h3>Infrastructure</h3>
                                <p style="text-align: justify;">Our company is reckoned as one of the most successful courier companies in the country. We are famed for our state of the art infrastructure facilities so as to offer best ever services to our clients. Our infrastructure is so designed to render reliable, fastest and safest delivery of products so as to facilitate our customers.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-services mb-30">
                            <div class="services-thumb"> <img src="~/Content/img/images/services_img03.jpg" alt="img"> </div>
                            <div class="services-content">
                                <div class="services-icon"> <img src="~/Content/img/icon/3.png" alt="icon"> </div>
                                <h3>Research & Development</h3>
                                <p style="text-align: justify;">Sunshine Enterprises is an esteemed courier service company which is well known for its research and development. We analyse each and every factor so as to render incredible courier services to our clients. Our research and development department is capable of knowing facts regarding delivery and thus we are famed for offering fast delivery.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="fact-area pt-120 pb-65">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-fact mb-50">
                        <div class="fact-icon mb-25" style="text-align: center;"> <i class="fas fa-smile"></i> </div>
                        <div class="fact-content">
                            <h4 style="text-align: center;color: #FFF;"><span class="count"> 100 </span>%</h4>
                            <h6 style="text-align: center;color: #FFF;">Happy customers</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-fact mb-50">
                        <div class="fact-icon mb-25" style="text-align: center;"> <i class="fas fa-thumbs-up"></i> </div>
                        <div class="fact-content">
                            <h4 style="text-align: center;color: #FFF;"><span class="count">20</span>+</h4>
                            <h6 style="text-align: center;color: #FFF;"> Our Services</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-fact mb-50">
                        <div class="fact-icon mb-25" style="text-align: center;"> <i class="fas fa-certificate"></i> </div>
                        <div class="fact-content">
                            <h4 style="text-align: center;color: #FFF;"><span class="count">7</span> Years</h4>
                            <h6 style="text-align: center;color: #FFF;">of Experience</h6>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-sm-6">
                    <div class="single-fact mb-50">
                        <div class="fact-icon mb-25" style="text-align: center;"> <i class="fas fa-check-circle"></i> </div>
                        <div class="fact-content">
                            <h4 style="text-align: center; color: #FFF;"><span class="count">24</span> / 7</h4>
                            <h6 style="text-align: center; color: #FFF;"> Support</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-area blog-bg pt-115 pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center mb-70">
                        <h1 style="color: #FFF;">Popular Blogs</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post mb-30">
                        <div class="blog-thumb"> <a href="/Home/tips-to-choose-best-courier-service"><img src="~/Content/img/blog/blog_thumb01.jpg" alt="img"></a> </div>
                        <div class="blog-content">
                            <h4><a href="/Home/tips-to-choose-best-courier-service">Tips to Choose Best Courier Service</a></h4>
                            <p>Courier services are very useful to transport items of various kinds that might be required to be required urgent delivery.</p>
                            <div class="blog-read-more text-center"> <a href="/Home/tips-to-choose-best-courier-service">Read More</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post mb-30">
                        <div class="blog-thumb"> <a href="/Home/reasons-why-you-should-use-courier-services"><img src="~/Content/img/blog/blog_thumb02.jpg" alt="img"></a> </div>
                        <div class="blog-content">
                            <h4><a href="/Home/reasons-why-you-should-use-courier-services">Reasons Why You Should Use Courier Services</a></h4>
                            <p>Courier services are important to move good and products from their source of availability to the person who needs it the most. </p>
                            <div class="blog-read-more text-center"> <a href="/Home/reasons-why-you-should-use-courier-services">Read More</a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post mb-30">
                        <div class="blog-thumb"> <a href="/Home/types-of-courier-services"><img src="~/Content/img/blog/blog_thumb03.jpg" alt="img"></a> </div>
                        <div class="blog-content">
                            <h4><a href="/Home/types-of-courier-services">Types of Courier Services</a></h4>
                            <p>Courier services are very useful to transport items of various kinds that might be required to be required urgent delivery. A market is full of the plethora of courier firms who promise. </p>
                            <div class="blog-read-more text-center"> <a href="/Home/types-of-courier-services">Read More</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

