
@{
    ViewBag.Title = "sea_cargo";
}


<main>
    <div class="breadcrumb-area breadcrumb-bg" style="background-image:url(img/inner-banner/6.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="dots"></li>
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Sea Cargo </li>
                                <li class="dots2"></li>
                            </ol>
                        </nav>
                        <h2>Sea Cargo </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-details-area pt-120 pb-115">
        <div class="container">
            <div class="services-details-wrap">
                <div class="row">
                    <div class="col-lg-6 order-2 order-lg-0">
                        <div class="services-details-img"> <img src="~/Content/img/services/sea.jpg" alt=""> </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="services-details-content">
                            <h4>Sea Cargo  in Delhi NCR</h4>
                            <p style="text-align: justify;">When it comes to services like Sea cargo, a logistic company has to be packed with experience as well as has to have the right connections. And Sunshine Enterprises, has all of these that are needed to continue a successful Sea Cargo Service in Delhi NCR, India. With us, you will get the best possible services when it comes to sea freights.</p>
                            <h4>Transporting Your Goods, The Right Way</h4>
                            <p style="text-align: justify;"> Sunshine Enterprises, you do not have to worry about your needs in terms of sea cargo. We can transport your goods to and from any ports of India. All thanks to our connections with the contracts that we have with the major lines and consolidators.</p>
                            <h4>A cost-effective solution</h4>
                            <p style="text-align: justify;"> We at NV ensure that sea cargo in Delhi NCR doesn’t turn out to be a burden for you. And hence, we have come with the most cost-effective solution for you. You can get your goods delivered the right way anywhere with our effective range of available sea freight and cargo options.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="control-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-10">
                    <div class="s-section-title text-center mb-60">
                        <h2 style="color: #fff;">our services</h2>
                        <p style="color: #fff;"> Sunshine Enterprises you will get the most quality services along with the best assistance. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid control-fluid">
            <div class="row control-active slick-initialized slick-slider">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 5005px; transform: translate3d(-3080px, 0px, 0px); transition: transform 1000ms ease 0s;">
                        <div class="col-xl-4 slick-slide slick-cloned" tabindex="-1" style="width: 385px;" data-slick-index="-3" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/3.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="-1">
                                            Commercial <br>
                                            Shipment
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-cloned" tabindex="-1" style="width: 385px;" data-slick-index="-2" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/4.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4><a href="#" tabindex="-1">Document and Parcel </a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-cloned" tabindex="-1" style="width: 385px;" data-slick-index="-1" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/5.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="-1">
                                            Food Items <br>
                                            Delivery
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-current slick-active" tabindex="-1" style="width: 385px;" data-slick-index="0" aria-hidden="false">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/1.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="-1">
                                            Air Cargo <br>
                                            Agents
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-active" tabindex="-1" style="width: 385px;" data-slick-index="1" aria-hidden="false">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/2.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="-1">
                                            Medicine<br>
                                            Delivery
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-active" tabindex="-1" style="width: 385px;" data-slick-index="2" aria-hidden="false">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/3.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="-1">
                                            Commercial <br>
                                            Shipment
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide" tabindex="-1" style="width: 385px;" data-slick-index="3" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/4.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4><a href="#" tabindex="-1">Document and Parcel </a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide" tabindex="0" style="width: 385px;" data-slick-index="4" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/5.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="0">
                                            Food Items <br>
                                            Delivery
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-cloned" tabindex="-1" style="width: 385px;" data-slick-index="5" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/1.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="0">
                                            Air Cargo <br>
                                            Agents
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-cloned" tabindex="-1" style="width: 385px;" data-slick-index="6" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/2.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="0">
                                            Medicine<br>
                                            Delivery
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-cloned" tabindex="-1" style="width: 385px;" data-slick-index="7" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/3.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="-1">
                                            Commercial <br>
                                            Shipment
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-cloned" tabindex="-1" style="width: 385px;" data-slick-index="8" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/4.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4><a href="#" tabindex="-1">Document and Parcel </a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 slick-slide slick-cloned" tabindex="-1" style="width: 385px;" data-slick-index="9" aria-hidden="true">
                            <div class="single-control-wrap fix">
                                <div class="control-thumb"> <img src="~/Content/img/services/5.jpg" alt="img"> </div>
                                <div class="control-overlay-content">
                                    <h4>
                                        <a href="#" tabindex="-1">
                                            Food Items <br>
                                            Delivery
                                        </a>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

