<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <title>Sunshine Enterprises</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link rel="stylesheet" href="~/Content/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/css/meanmenu.css">
    <link rel="stylesheet" href="~/Content/css/slick.css">
    <link rel="stylesheet" href="~/Content/css/default.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
</head>
<body>
    <header>
        <div class="header-top-wrap purple-bg d-none d-md-block">
            <div class="container-fluid header-container-p">
                <div class="container">
                    <div class="col-xl-12 col-lg-12 col-md-6">
                        <div class="header-contact">
                            <ul>
                                <li><i class="fa fa-phone-alt"></i><a href="tel:9310431970" style="color:#fff;" class="a2">+91 9310431970</a></li>
                                <li><i class="far fa-envelope"></i><a href="mailto:Sunshineexpress2021@gmail.com" style="color:#fff;"> Sunshineexpress2021@gmail.com | All Multiple Domestic & International Courier Services</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-sticky" class="main-header">
            <div class="container-fluid header-container-p">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="logo"> <a href="/Home/Index"><img src="~/Content/img/logo/logo.png" class="mobile-logo" alt="Logo"></a> </div>
                    </div>
                    <div class="col-lg-9 col-md-6 d-none d-md-block">
                        <div class="menu-area">
                            <div class="main-menu">
                                <nav id="mobile-menu" style="display: block;">
                                    <ul>
                                        <li class="active"><a href="/Home/Index">Home</a> </li>
                                        <li><a href="/Home/about">About us</a> </li>
                                        <li>
                                            <a>Our Services</a>
                                            <ul class="submenu">
                                                <li><a href="/Home/air_cargo_agents">Air Cargo Agents </a></li>
                                                <li><a href="/Home/medicine_delivery">Medicine Delivery </a></li>
                                                <li><a href="/Home/commercial_shipment">Commercial Shipment </a></li>
                                                <li><a href="/Home/document_and_parcel">Document and Parcel </a></li>
                                                <li><a href="/Home/food_items_delivery">Food Items Delivery </a></li>
                                                <li><a href="/Home/sea_cargo">SEA Cargo </a></li>
                                                <li><a href="/Home/excess_baggage_delivery">Excess Baggage Delivery </a></li>
                                                <li><a href="/Home/household_items">Household Items </a></li>
                                                <li><a href="/Home/express_import_services">Express Import Services </a></li>
                                                <li><a href="/Home/international_courier_services">International Courier Services </a></li>
                                                <li><a href="/Home/courier_services">Courier Services </a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/Home/gallery">Gallery</a></li>
                                        <li><a href="/Home/blog">Blogs</a></li>
                                        <li><a href="/Home/contact">Contact Us</a></li>
                                        <li><a href="#"><b>TRACK NOW...</b></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
        @*</div>*@
    </header>

        @RenderBody()

    <footer>
        <div class="footer-wrap pt-110 pb-40" data-background="img/bg/footer_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6">
                        <div class="footer-widget mb-50">
                            <div class="footer-logo mb-35"> <a href="/Home/Index"><img src="~/Content/img/logo/logo-1.png" alt="img"></a> </div>
                            <div class="footer-text">
                                <a href="#"><img src="~/Content/img/logo/PaymentQRCode.png" alt="img"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6">
                        <div class="footer-widget mb-50">
                            <div class="fw-title mb-30">
                                <h5>Our Services</h5>
                            </div>
                            <div class="fw-link">
                                <ul>
                                    <li><a href="/Home/air-cargo-agents"><i class="fas fa-caret-right"></i> Air Cargo Agents</a></li>
                                    <li><a href="/Home/medicine-delivery"><i class="fas fa-caret-right"></i> Medicine Delivery</a></li>
                                    <li><a href="/Home/commercial-shipment"><i class="fas fa-caret-right"></i> Commercial Shipment</a></li>
                                    <li><a href="/Home/document-and-parcel"><i class="fas fa-caret-right"></i> Document and Parcel</a></li>
                                    <li><a href="/Home/food-items-delivery"><i class="fas fa-caret-right"></i>Food Items Delivery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6">
                        <div class="footer-widget mb-50">
                            <div class="fw-title mb-30">
                                <h5>USEFUL LINKS</h5>
                            </div>
                            <div class="fw-link">
                                <ul>
                                    <li><a href="/Home/about"><i class="fas fa-caret-right"></i> About us</a></li>
                                    <li><a href="/Home/gallery"><i class="fas fa-caret-right"></i> Gallery</a></li>
                                    <li><a href="/Home/blog"><i class="fas fa-caret-right"></i> Blog</a></li>
                                    <li><a href="/Home/contact"><i class="fas fa-caret-right"></i> Contact us</a></li>
                                    <li><a href="#"><i class="fas fa-caret-right"></i> TRACK NOW...</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-4 col-md-6">
                        <div class="footer-widget mb-50">
                            <div class="fw-title mb-30">
                                <h5>Contact Now</h5>
                            </div>
                            <div class="f-rc-post">
                                <ul>
                                    <li class="tum">
                                        <div class="f-rc-thumb"> <a style="color:#fff;"> <i class="fas fa-map-marker-alt"></i><b>Head Office (Ghaziabad)</b> : 342,Chaudhary market basnt road maliwara ghaziabad 201001</a> </div>
                                    </li>
                                    <li class="tum">
                                        <div class="f-rc-thumb"> <a href="tel:9310431970" style="color:#fff;"> <i class="fas fa-phone-alt"></i>Call Us :+91 9310431970</a> <a href="tel:9310431970"</a> </div>
                                    </li>
                                    <li class="tum">
                                        <div class="f-rc-thumb"> <a style="color:#fff;"> <i class="fas fa-map-marker-alt"></i><b>Branch Office (Noida)</b> : C-54 gulmohar commercial complex sector -15 noida 201301</a> </div>
                                    </li>
                                    <li class="tum">
                                        <div class="f-rc-thumb"> <a href="tel:9310498105" style="color:#fff;"> <i class="fas fa-phone-alt"></i>Call Us :+91 9310498105</a> <a href="tel:9310498105"</a> </div>
                                    </li>
                                    <li class="tum">
                                        <div class="f-rc-thumb"> <a style="color:#fff;"> <i class="fas fa-map-marker-alt"></i><b>Branch Office (Mahipalpur)</b> : L-120 street 58 mahipalpur new delhi 110037</a> </div>
                                    </li>
                                    <li class="tum">
                                        <div class="f-rc-thumb"> <a href="tel:9910298662" style="color:#fff;"> <i class="fas fa-phone-alt"></i>Call Us :+91 9910298662</a> <a href="tel:9910298662"</a> </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrap">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 col-md-7">
                        <div class="copyright-text">
                            <p>Copyright© 2023 <span>Sunshine Enterprises </span> | All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <style>


        @@media only screen and (min-width:320px) and (max-width: 630px) {

            .header-right {
                top: 233px;
                margin: 0 0 0 0;
                position: absolute;
                z-index: 1;
                right: 112px;
            }

            section.category-area {
                margin: 32% 0 0 0;
            }
        }


        @@media only screen and (min-width:631px) and (max-width: 768px) {

            .header-right {
                top: 230px;
                margin: 0 0 0 0;
                position: absolute;
                z-index: 1;
                right: 121px;
            }

            section.category-area {
                margin: 20% 0 0 0;
            }
        }
    </style>
    <script>
        $(function () {
            function after_form_submitted(data) {
                if (data.result == 'success') {
                    $('form#reused_form').hide();
                    $('#success_message').show();
                    $('#error_message').hide();
                }
                else {
                    $('#error_message').append('<ul></ul>');

                    jQuery.each(data.errors, function (key, val) {
                        $('#error_message ul').append('<li>' + key + ':' + val + '</li>');
                    });
                    $('#success_message').hide();
                    $('#error_message').show();

                    //reverse the response on the button
                    $('button[type="button"]', $form).each(function () {
                        $btn = $(this);
                        label = $btn.prop('orig_label');
                        if (label) {
                            $btn.prop('type', 'submit');
                            $btn.text(label);
                            $btn.prop('orig_label', '');
                        }
                    });

                }//else
            }

            $('#reused_form').submit(function (e) {
                e.preventDefault();

                $form = $(this);
                //show some response on the button
                $('button[type="submit"]', $form).each(function () {
                    $btn = $(this);
                    $btn.prop('type', 'button');
                    $btn.prop('orig_label', $btn.text());
                    $btn.text('Sending ...');
                });


                $.ajax({
                    type: "POST",
                    url: 'handler.php',
                    data: $form.serialize(),
                    success: after_form_submitted,
                    dataType: 'json'
                });

            });
        });
    </script>
    <script data-cfasync="false" src="~/Content/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.html"></script>
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/js/slick.min.js"></script>
    <script src="~/Content/js/jquery.meanmenu.min.js"></script>
    <script src="~/Content/js/ajax-form.js"></script>
    <script src="~/Content/js/wow.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/paroller.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.counterup.min.js"></script>
    <script src="~/Content/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>
<div class="call-now-button" id="draggable">
    <div>
        <p class="call-text"><a href="tel:9310431970" style="color:#000;"></a></p>
        <a href="tel:9310431970" id="quickcallbutton" title="Call Now">
            <div class="quick-alo-ph-circle active"></div>
            <div class="quick-alo-ph-circle-fill active"></div>
            <div class="quick-alo-ph-img-circle shake"></div>
        </a>
    </div>
</div>